#wrap {
  width: 100%;
}
#wrap .intro {
  width: 100%;
}
#wrap .intro #section2 {
  width: 100%;
  padding: 80px 0 0 0;
}
#wrap .intro #section2 .container {
  width: 100%;
  max-width: 1050px;
  margin: 0 auto;
}
#wrap .intro #section2 .container .gap {
  width: 100%;
}
#wrap .intro #section2 .container .gap .content {
  width: 100%;
}
#wrap .intro #section2 .container .gap .content a {
  display: block;
  width: 100%;
}
#wrap .intro #section2 .container .gap .content a img {
  width: 100%;
}