#wrap {
  width: 100%;
}
#wrap #sub4 {
  width: 100%;
}
#wrap #sub4 #section1 {
  width: 100%;
}
#wrap #sub4 #section1 .container {
  width: 100%;
  max-width: 1050px;
  margin: 0 auto;
}
#wrap #sub4 #section1 .container .gap {
  width: 100%;
}
#wrap #sub4 #section1 .container .gap .content {
  width: 100%;
}
#wrap #sub4 #section1 .container .gap .content ul {
  width: 100%;
}
#wrap #sub4 #section1 .container .gap .content ul li {
  width: 100%;
  padding: 0 0 10px 0;
}
#wrap #sub4 #section1 .container .gap .content ul li a {
  display: block;
  width: 100%;
}
#wrap #sub4 #section1 .container .gap .content ul li a div {
  width: 100%;
}
#wrap #sub4 #section1 .container .gap .content ul li a div img {
  width: 100%;
}