 
#section4 {
    width: 100%;
    padding: 40px 0;
    .container {
        width:100%;
        max-width: 1068px;  
        margin:0 auto;              
        .gap {
            width:100%;
            .content {
                width:100%;
                display: flex;
                .left {
                    width:25%;
                    ul {
                        margin: 0 9px;
                        li {

                            &:nth-child(3){
                                padding:30px 0 50px 0;
                                display: flex;
                                align-items: center;
                            }
                            h2{
                                font-size: 28px;
                                font-weight: 500;
                                color:#000;
                            }
                            h3{
                                font-size: 15px;
                                font-weight: 400;
                                color:#999;
                                padding: 10px 0 0 0;
                            }
                            span{
                                font-size: 32px;
                                font-weight: 800;
                                color:#333;                                        
                                img {
                                    width: 35px;
                                    margin: 0 10px 0 0;
                                }
                            }
                            p {
                                font-size: 14px;
                                font-weight: 400;
                                color:#aaa;    
                            }
                        }
                    }
                }
                .right {
                    width:75%;
                    > ul {
                        width:100%;
                        display: flex;
                        > li {
                            width:33.33333%;
                            .col-gap {
                                padding: 0 9px;
                                width: 100%;
                                a {
                                    display: block;
                                    width: 100%;
                                    .img-box {
                                        width: 100%;
                                        position: relative;
                                        > img {
                                            width: 100%;
                                            z-index: 1;
                                            position: relative;
                                        }
                                        > span {
                                            z-index: 2;
                                            position: absolute;
                                            right: 20px;
                                            bottom: 25px;
                                            img {
                                                width: auto;
                                            }
                                        }
                                    }
                                    .tex-box {
                                        width:100%;
                                        ul {
                                            width:100%;
                                            padding: 15px 0 0 0 ;
                                            li {
                                                width:100%;
                                                padding:5px 0;
                                                &:nth-child(1){
                                                    font-size: 14px;
                                                    color: #999;
                                                }
                                                &:nth-child(3){
                                                    font-size: 12px;
                                                    color: #999;
                                                }
                                                &:last-child{
                                                    font-size: 12px;
                                                    color: #5f0080;
                                                    font-weight: 500;
                                                }
                                                strong ,
                                                em {font-size: 16px;color:#333;font-weight: 600;}
                                                span {
                                                    &.rate-price {color:#fa622f;font-size: 16px;font-weight: 800;}
                                                    &.panme-price {color:#333;font-size: 16px;font-weight: 800;}
                                                }
                                                s {color:#999;font-size: 14px;}

                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
 