
#section7 {  
    width:100%;
    padding: 40px 0;
    position: relative;
    .container {
        width:100%;
        max-width: 1068px;
        margin:0 auto;
        position: relative;
        z-index: 1;
        .gap {
            width:100%;
            .title {
                width:100%;
                text-align: center;
                padding: 0 0 30px 0;
                h2 {
                    font-size: 28px;
                    font-weight: 600;
                    color:#333;
                }
            }
            .content {
                width:100%;
                .slide-container {
                    width:100%;
                    .slide-view {
                        width:100%;
                        overflow: hidden;
                        .slide-wrap {
                            width: 25% * 20;                        
                            display: flex;
                            position: relative;                                   
                            .slide {
                                width:25%;
                                .col-gap {
                                    padding: 0 9px;
                                    width: 100%;
                                    a {
                                        display: block;
                                        width: 100%;
                                        .img-box {
                                            width: 100%;
                                            position: relative;
                                            > img {
                                                width: 100%;
                                                z-index: 1;
                                                position: relative;
                                            }
                                            > span {
                                                z-index: 2;
                                                position: absolute;
                                                right: 20px;
                                                bottom: 25px;
                                                img {
                                                    width: auto;
                                                }
                                            }
                                        }
                                        .tex-box {
                                            width:100%;
                                            ul {
                                                width:100%;
                                                padding: 15px 0 0 0 ;
                                                li {
                                                    width:100%;
                                                    padding:5px 0;
                                                    &:nth-child(1){
                                                        font-size: 14px;
                                                        color: #999;
                                                    }
                                                    &:nth-child(3){
                                                        font-size: 12px;
                                                        color: #999;
                                                    }
                                                    &:last-child{
                                                        font-size: 12px;
                                                        color: #5f0080;
                                                        font-weight: 500;
                                                    }
                                                    strong ,
                                                    em {font-size: 16px;color:#333;font-weight: 600;}
                                                    span {
                                                        &.rate-price {color:#fa622f;font-size: 16px;font-weight: 800;}
                                                        &.panme-price {color:#333;font-size: 16px;font-weight: 800;}
                                                    }
                                                    s {color:#999;font-size: 14px;}

                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .left-arrorw-btn {
        position: absolute;
        left: 50%;
        top: 270px;
        margin: 0 0 0 -557px;
        z-index: 2;
        img {
            width:auto;
        }
    }
    .right-arrorw-btn {
        position: absolute;
        right: 50%;
        top: 270px;
        margin: 0 -557px 0 0;
        z-index: 2;
        transform: rotate(180deg);
        img {
            width:auto;
        }
    }
}
