#wrap{
    width: 100%;
    #confirmModal {
        z-index: 5;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0, 0.5);
        .wrap{
           width:100%;
           height:100%;  
           display: flex;                    
           .container {
                width:360px;
                background: #fff;
                margin: auto;
                border-radius: 10px;
                overflow: hidden;
                .content {
                    width: 100%;
                    .title-box {
                        width: 100%;
                        padding: 40px 30px;
                        h1 {
                            text-align: center;
                            width:100%;
                            font-size: 15px;
                            font-weight: 600;
                            color:#333;
                            line-height: 140%;
                        }
                    }
                    .button-box {
                        width: 100%;
                        border-top: 1px solid #ddd;
                        button {
                            width:100%;
                            height: 55px;
                            border: 0;
                            background: #fff;
                            font-size: 15px;
                            font-weight: 600;
                            color: #5f0080;
                            cursor: pointer;
                        }
                    }
                }
           }
        }
    }
}
