#signIn #secino1 {
  width: 100%;
  padding: 100px 0;
}
#signIn #secino1 .container {
  width: 100%;
  max-width: 340px;
  margin: 0 auto;
}
#signIn #secino1 .container .title {
  width: 100%;
  text-align: center;
  padding: 0 0 40px 0;
}
#signIn #secino1 .container .title h2 {
  width: 100%;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
}
#signIn #secino1 .container .content {
  width: 100%;
}
#signIn #secino1 .container .content form ul {
  width: 100%;
}
#signIn #secino1 .container .content form ul li {
  width: 100%;
  padding: 0 0 12px 0;
}
#signIn #secino1 .container .content form ul li input {
  width: 100%;
  height: 54px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 14px;
  color: #333;
  border-radius: 3px;
  outline: 1px solid transparent;
  outline-offset: -1px;
  transition: all 0.3s;
  padding: 0 15px;
}
#signIn #secino1 .container .content form ul li input:focus {
  outline: 1px solid #777;
  background: rgb(232, 240, 254);
}
#signIn #secino1 .container .content form ul li:nth-child(3) {
  text-align: right;
  padding: 5px 0 30px 0;
}
#signIn #secino1 .container .content form ul li:nth-child(3) span {
  font-weight: 500;
  font-size: 12px;
}
#signIn #secino1 .container .content form ul li:nth-child(3) span i {
  margin: 0 8px;
}
#signIn #secino1 .container .content form ul li:nth-child(3) span a {
  color: #666;
}
#signIn #secino1 .container .content form ul li:nth-child(3) span a:hover {
  color: #000;
}
#signIn #secino1 .container .content form ul li button {
  width: 100%;
  height: 54px;
  font-size: 16px;
  color: #fff;
  border: 1px solid #5f0080;
  background: #5f0080;
  cursor: pointer;
  font-weight: 500;
  border-radius: 3px;
}
#signIn #secino1 .container .content form ul li > a {
  display: flex;
  width: 100%;
  height: 54px;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: #5f0080;
  border: 1px solid #5f0080;
  background: #fff;
  font-weight: 500;
  border-radius: 3px;
}